<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Simon Yu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Simon Yu professional website">
    <title>Simon Yu</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Simon Yu</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html" class="active">Contact me</a>
            <a href="fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class = "Main">
        <h2>Contact Me!</h2>
        <form action="">
            <label for="UserName">Your Name (required):</label>
            <input type="text" name="UserName" id="UserName" required>
            <label for="UserEmail">Your Email (required):</label>
            <input type="email" name="UserEmail" id="UserEmail" required>
            <label for="UserText">Your text: (required)</label>
            <textarea name="UserText" id="UserText" cols="30" rows="10" required></textarea>
            <input class= "submit_button" type="submit" value="SEND" onclick="validate()">
        </form>
        <p id="ValidateMsg"></p>
        <table>
            <tr><th>Contact Method</th><th>Description</th></tr>
            <tr>
                <td>Email</td>
                <td>simony@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>123-456-7890</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td>linkedin.com/in/simonyu</td>
            </tr>
        </table>

    </div>
    <footer>
        <p id="copyYear">Simon Yu &copy</p>
    </footer>
</body>
</html>