<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Simon Yu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Simon Yu professional website">
    <title>Simon Yu</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Simon Yu</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars" onclick="activeNav()"></i>
 
              </a>
        </nav>
    </header>
    <div class = "Main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th><th>Description</th>
            </tr>
            <tr>
                <td>
                    <strong>Carnegie Mellon University</strong> 
                    <br>May 2027
                </td>
                <td>
                Bachelor of Science in Information Systems, Intended Minor in Computer Science<br>
                • Relevant Coursework: Principles of Imperative Computation (Data Structures and Algorithms), Concepts of Mathematics (Discrete Math), Linear Algebra, Intro to Computer Systems (C) <br>
                • Activities: Asian Students Association, Tartan Scholars</td>
            </tr>
            <tr>
                <td>
                    <strong>ScottyLabs</strong> 
                    <br>Tech Committee
                    <br>August 2023 - Present   
                </td>
                <td>
                • Participated and worked with others in the tech committee to aid in the development of the TartanHacks registration system, Pittsburgh’s premier hackathon.<br>
                • Contributed to the Labrador team, working on the CMU Eats API to help students to track information regarding campus dining.</td>
            </tr>
            <tr>
                <td>
                    <strong>Phedamenon</strong> 
                    <br>Part-time Developer
                    <br>May 2022 - September 2022
                </td>
                <td>• Worked on the GiveToHaiti project, improving the landing page and implementing new front and back-end features such as the donation feature. <br> 
                    • Leveraged proficiency in HTML, CSS, and JavaScript to develop custom graphics, animations, and interactive elements, enhancing the site’s aesthetic appeal and functionality.</td>
            </tr>
        </table>
        <a href="../static/resume (6).pdf">My resume, pdf version</a>
    </div>
    <footer>
        <p id="copyYear">Simon Yu &copy</p>
    </footer>
</body>
</html>