<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Simon Yu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Simon Yu professional website">
    <title>Simon Yu</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Simon Yu</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars" onclick="activeNav()"></i>
 
              </a>
        </nav>  
    </header>
    <div class = "Main">
        <h2 id="greeting"></h2>
        <img class="classA" src="../static/IMG_0392 Small.png" alt="Simon Yu profile image" width="350px">
        <div class="classA">
            <span id="shortIntro">Hi, my name is Simon and I'm currently a freshman at Carnegie Mellon University studying Information Systems.</span>
            <span id="readMore">read more ...</span>
            <span id="longIntro">My family is from Guangzhou, China but I was born and raised in NYC. I can speak English, Mandarin, and Cantonese. I developed and grew my passion for computer science in high school, and am interested in pursuing software engineering. I love to play basketball with my friends and try out new foods/recipes</span>
            <span id="readLess">read Less</span>
        </div>
    </div>
    <footer>
        <p id="copyYear">Simon Yu &copy</p>
    </footer>
</body>
</html>